<div class="wrapper">
  <div class="container">

    <div class="wrap-title">
      <h3 class="title">Register</h3>
    </div>

    <form [formGroup]="registerForm" #f="ngForm" (ngSubmit)="onSubmit()" class="wrap-form">
      <div class="wrap-input">
        <mat-form-field class="field" appearance="outline" hideRequiredMarker="true">
          <mat-label>Fullname</mat-label>
          <input matInput type="text" formControlName="fullname" required>

          <mat-error *ngIf="inputs.fullname.invalid && inputs.fullname.touched">
            <span *ngIf="inputs.fullname.errors?.required">This field is required</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="wrap-input">
        <mat-form-field class="field" appearance="outline" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>

          <mat-error *ngIf="inputs.email.invalid && inputs.email.touched">
            <span *ngIf="inputs.email.errors?.required">This field is required</span>
            <span *ngIf="inputs.email.errors?.email">Please enter a valid email address</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="wrap-input">
        <mat-form-field class="field" appearance="outline" hideRequiredMarker="true">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>

          <mat-error *ngIf="inputs.password.invalid && inputs.password.touched">
            <span *ngIf="inputs.password.errors?.required">This field is required</span>
            <span *ngIf="inputs.password.errors?.minlength">The password must be at least 8 characters long</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="wrap-btn">
        <button mat-raised-button class="btn" color="primary" [disabled]="registerForm.invalid || registerForm.disabled"
          type="submit">Sign
          up</button>
      </div>
      <div class="wrap-link">
        <a class="router-link" routerLink="/login">Have you already registered?</a>
      </div>
    </form>
  </div>
</div>